*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

input,
button {
  border: none;
}
