@import "./designSystem";

footer {
  padding: 78px 165px;
  background-color: $cod-gray;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .footer-content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .address,
    .hours {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 2px;
    }

    .address {
      min-width: 244px;
    }

    .hours {
      min-width: 400px;
    }
  }
}

@media (max-width: 1000px) {
  footer {
    margin-top: 60px;

    padding: 64px 40px;

    .footer-content {
      flex-direction: column;
      gap: 32px;
    }
  }
}

@media (max-width: 600px) {
  footer {
    padding: 80px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .footer-content {
      align-items: center;

      .address,
      .hours {
        align-items: center;
      }
    }
  }
}
